<div class="flex-container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center start"
     fxLayoutAlign.xs="start">
  <div class="flex-container"
       fxFlex="30%"
       fxLayout="column"
       fxLayout.xs="column"
       fxLayoutAlign="center center"
       fxLayoutAlign.xs="start">
    <md-input-container>
      <input mdInput [formControl]="account">
    </md-input-container>
    <button (click)="accountInfo()">search</button>
    <button (click)="query()">query</button>
    <ul>
      <li>{{ (hashtags | async).length }}</li>
      <li *ngFor="let ht of hashtags | async">({{ ht.count }}) {{ ht.text }}</li>
    </ul>
  </div>
  <div class="flex-container"
       fxFlex="70%"
       fxLayout="column"
       fxLayout.xs="column"
       fxLayoutAlign="center center"
       fxLayoutAlign.xs="start">
    <div *ngFor="let media of mediaList | async">
      <!--<img [src]="media.thumbnail_src" style="max-width: 150px;">-->
      <p>{{ media.caption }}</p>
    </div>
  </div>
</div>
